.fot-decor
footer
	.box-center
		.grids-9
			h2(class="urb-title turb-foot")
				span
				| Enlaces de interés
			.row.pb50
				.grids-3
					h3 Distritos más Buscados
					ul.fot-list
						each i in arr7
							li
								a(href="javascript:;",title="#{distritos[i]}") #{distritos[i]}
				.grids-3
					h3 Proyectos más vistos
					ul.fot-list
						each i in arr7
							li
								a(href="javascript:;",title="#{proyect[i]}") #{proyect[i]}
				.grids-3
					h3 Inmuebles más vistos
					ul.fot-list
						each i in arr7
							li
								a(href="javascript:;",title="#{inmuebles[i]}") #{inmuebles[i]}
			h2(class="urb-title turb-foot")
				span
				| Inmuebles por distrito
			.row.g3-pb30
				.grids-3
					h3 Miraflores
					ul.fot-list
						each i in arr7
							li
								a(href="javascript:;",title="#{distritos[i]}") #{distritos[i]}
				.grids-3
					h3 Santiago de Surco
					ul.fot-list
						each i in arr7
							li
								a(href="javascript:;",title="#{proyect[i]}") #{proyect[i]}
				.grids-3
					h3 San Isidro
					ul.fot-list
						each i in arr7
							li
								a(href="javascript:;",title="#{inmuebles[i]}") #{inmuebles[i]}
				.grids-3
					h3 La Molina
					ul.fot-list
						each i in arr7
							li
								a(href="javascript:;",title="#{distritos[i]}") #{distritos[i]}
				.grids-3
					h3 San Borja
					ul.fot-list
						each i in arr7
							li
								a(href="javascript:;",title="#{proyect[i]}") #{proyect[i]}
				.grids-3
					h3 Magdalena del Mar
					ul.fot-list
						each i in arr7
							li
								a(href="javascript:;",title="#{inmuebles[i]}") #{inmuebles[i]}
			.row.fot-nav
				span.nav-line
				.navs
					span Mira más Distritos
					a(href="javascript:;",class="nav-prev")
					a(href="javascript:;",class="nav-next")
		.grids-3
			h2(class="urb-title turb-foot")
				span
				| Central de Ayuda
			.fot-banner.cntrlHelp
				span.fban-decor
				.fix-bg
					p ¿Tienes alguna duda o consulta? Estamos para ayudarte.
					a(href="javascript:;",class="btn-urb") Clic aquí
					ul
						li
							a(href="javascript:;") Preguntas Frecuentes
						li
							a(href="javascript:;") Ayuda en línea
						li
							a(href="javascript:;") Contáctanos vía mail
			.fot-banner.qdigital
				span.fban-decor
				.fix-bg
					p Lee la revista 
						span Urbania 
						| edición digital en
					span(class="fot-quiosco")
					a(href="javascript:;",class="btn-urb") Clic aquí
			h4 Síguenos
			.row
				a(href="javascript:;",class="fot-social fb")
				a(href="javascript:;",class="fot-social twt")
				a(href="javascript:;",class="fot-social glg")
				a(href="javascript:;",class="fot-social ytb")
	.content-paid
		.box-center
			.row
				span Compras 100% seguras con:
				a(href="javascript:;",class="paids pefectivo")
				a(href="javascript:;",class="paids visa")
				a(href="javascript:;",class="paids master")
				a(href="javascript:;",class="paids vbvisa")
				a(href="javascript:;",class="paids smaster")
				a(href="javascript:;",class="paids afvisa")
			p Autorizado por Visa para realizar transacciones electrónicas
	.box-center.copyright
		p 
			span ® 
			| 2013 Urbania.pe
		ul
			li
				a(href="javascript:;") Términos y Condiciones
			li
				a(href="javascript:;") Política de Publicación
			li
				a(href="javascript:;") Políticas de Privacidad
		a(href="javascript:;",class="book-claims")
			span
			| Libro de Reclamaciones
.see-also
	.box-center
		span Visite también:
		ul
			li
				a(href="http://elcomercio.pe?ref=urbania",title="Diario el Comercio",target="_blank") elcomercio.pe
			li
				a(href="http://peru.com?ref=urbania",title="Peru.com",target="_blank") peru.com
			li
				a(href="http://peru21.pe?ref=urbania",title="Diario Perú21",target="_blank") peru21.pe
			li
				a(href="http://laprensa.com.pe?ref=plazatop",title="La Prensa",target="_blank") laprensa.com.pe
			li
				a(href="http://gestion.pe?ref=plazatop",title="Diario Gestión",target="_blank") gestion.pe
			li
				a(href="http://depor.pe?ref=plazatop",title="Depor.pe",target="_blank") depor.pe
			li
				a(href="http://trome.pe?ref=plazatop",title="Diario Trome",target="_blank") trome.pe
			li
				a(href="http://publimetro.pe?ref=plazatop",title="Publimetro",target="_blank") publimetro.pe
			li
				a(href="http://gec.pe?ref=plazatop",title="GEC",target="_blank") gec.pe
			li
				a(href="http://clasificados.pe/?ref=plazatop",title="Clasificados",target="_blank") clasificados.pe
		ul
			li
				a(href="http://aptitus.pe?ref=plazatop",title="Aptitus",target="_blank") aptitus.pe
			li
				a(href="http://kotear.pe?ref=plazatop",title="Kotear",target="_blank") kotear.pe
			li
				a(href="http://neoauto.pe?ref=plazatop",title="Neoauto",target="_blank") neoauto.pe
			li
				a(href="http://guiagps.pe?ref=plazatop",title="GuiaGPS",target="_blank") guiagps.pe
			li
				a(href="http://ofertop.pe?ref=plazatop",title="Ofertop",target="_blank") ofertop.pe
			li
				a(href="http://plazatop.pe/?ref=plazatop",title="PlazaTop",target="_blank") plazatop.pe
			li
				a(href="http://nuestromercado.pe?ref=plazatop",title="NuestroMercado",target="_blank") nuestromercado.pe
			li
				a(href="http://pagoefectivo.pe?ref=plazatop",title="PagoEfectivo",target="_blank") pagoefectivo.pe
			li
				a(href="http://clubsuscriptores.pe?ref=plazatop",title="Club de Suscriptores",target="_blank") clubsuscriptores.pe
			li
				a(href="http://perured.pe?ref=plazatop",title="PeruRed",target="_blank") perured.pe
